{{ $url := replace .Permalink ( printf "%s" .Site.BaseURL) "" }}
{{ $.Scratch.Add "path" .Site.BaseURL }}
{{ $.Scratch.Add "currentURL" .URL }}
<nav aria-label="breadcrumb">
  <ol class="p-4 breadcrumb bg-grey-lightest">
    {{ range $index, $element := split $url "/" }}
      {{ $.Scratch.Add "path" $element }}
      {{ $.Scratch.Add "path" "/" }}
      {{ $isLast := eq ($.Scratch.Get "path") $.Permalink }}
      {{ if ne $element "" }}
        {{ if (not $isLast) }}
          <li class="breadcrumb-item"><a class="font-medium text-ultramarine hover-text-ultramarine" href="{{ $.Scratch.Get "path" }}">{{ title ( replace . "-" " ") }}</a></li>
        {{ else }}
          <li class="breadcrumb-item"><a class="font-medium text-ultramarine hover-text-ultramarine" href="{{ $.Scratch.Get "path" }}">{{ $.Title }}</a></li>
        {{ end }}
      {{ end }}
    {{ end }}
  </ol>
</nav>
