<footer class="smev-footer">
  <div class="py-5 container">
    <div class="row">
      <div class="col smev-footer__info">
        <h2 class="mb-4">Interested in learning more about SME?</h2>
        <div class="smev-footer__info-sme">
          <a class="btn smev-button--dark" href="http://www.sme.org/" role="button">SME Homepage</a>
          <a class="btn smev-button--dark" href="http://www.sme.org/join/" role="button">Join SME</a>
        </div>
        <h2 class="mt-5 mb-4">The Fine Print<sup>TM</sup></h2>
        <div class="d-flex smev-footer__fp-row">
          <div class="d-flex flex-column flex-xl-row smev-footer__fp-links">
            <a href="https://github.com/smevirtual/smevirtual-website"><strong>Source code for this page</strong></a>
            <a href="https://github.com/smevirtual/community-guidelines">Community Guidelines</a>
            <a href="https://github.com/smevirtual/legal-docs/blob/master/websites-privacy-notice/en-US.md">Privacy and Cookies</a>
            <a href="https://github.com/smevirtual/legal-docs/blob/master/websites-terms-of-use/en-US.md">Terms of Use</a>
            <a href="{{ .Site.Params.external.feedback_form_url }}">Contact Us</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
