<meta charset="utf-8">
<!-- Force IE 8/9/10 to use its latest rendering engine -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

<meta name="description" content="{{ .Site.Params.seo.description }}">
<meta name="keywords" content="{{ delimit .Site.Params.seo.keywords "," }}">
<meta name="robots" content="index,follow">
<meta name="googlebot" content="index,follow">
<meta name="google" content="nositelinkssearchbox">

<meta name="generated" content="{{ now.Format "Mon, 02 Jan 2006 15:04:05 -0700" }}">

<!-- For Facebook, Reddit and some other social networks -->
<!-- Thumbnail size is 500px x 500px -->
<meta name="thumbnail"           content="google_thumbnail--light.png">
<meta property="og:type"         content="website">
<meta property="og:title"        content="{{ .Site.Title }}">
<meta property="og:description"  content="{{ .Site.Params.social.description }}">

<!-- Facebook Card image size is specified in 'og:image:width' and 'og:image:height' -->
<meta property="og:image"        content="og_card_thumbnail--light.png">
<meta property="og:image:width"  content="1200">
<meta property="og:image:height" content="1200">

<!-- For Twitter -->
<meta name="twitter:card"        content="summary_large_image">
<meta name="twitter:site"        content="{{ .Site.Params.social.twitter_handle }}">
<meta name="twitter:creator"     content="{{ .Site.Params.social.twitter_handle }}">

<link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
<link rel="manifest" href="site.webmanifest">
<link rel="mask-icon" href="safari-pinned-tab.svg" color="#3151b7">
<link rel="shortcut icon" href="favicon.ico">
<meta name="apple-mobile-web-app-title" content="SME Virtual Network">
<meta name="application-name" content="SME Virtual Network">
<meta name="msapplication-TileColor" content="#ff0000">
<meta name="msapplication-TileImage" content="mstile-144x144.png">
<meta name="theme-color" content="#ffffff"></head>
