<!-- For adding a outdated browser warning on IE9 and lower. -->
{{ "<!--[if IE]>" | safeHTML }}
  <div class="container-fluid py-2 smev-outdated-banner">
    <p class="my-auto">This website works best when you are using a modern web browser. Please consider <a href="http://outdatedbrowser.com/" target="_blank">upgrading your browser</a> to improve your experience.</p>
  </div>
{{ "<![endif]-->" | safeHTML }}

<!-- For adding a outdated browser warning on IE11 and lower. -->
<div class="container-fluid py-2 smev-outdated-banner" style="display: none;">
  <p class="my-auto">This website works best when you are using a modern web browser. Please consider <a href="http://outdatedbrowser.com/" target="_blank">upgrading your browser</a> to improve your experience.</p>
</div>
