<section>

  <div class="pt-5 container">
    <div class="row">
      <div class="col">
        <div class="mb-4">
          {{ partial "training/meetup-group-invite.html" . }}
        </div>
      </div>
    </div>

    <div class="row">
      {{ range .Paginator.Pages.ByWeight }}
      <div class="col-md-12">
        <article id="{{ .Slug }}" class="py-4 mb-5">
          <div class="mb-3">
            {{ partial "training/tags.html" . }}
          </div>
          <div>
            <a class="text-black text-3xl font-medium" href="{{ .Permalink }}">{{ .Title }}</a>
            <div class="text-xl pb-1">{{ .Description }}</div>
            <div class="d-flex flex-md-row flex-column">
              <div class="pr-5 pt-3">
                {{ partial "training/duration.html" . }}
              </div>
              <div class="pr-5 pt-3">
                {{ partial "training/eta.html" . }}
              </div>
              <div class="pr-5 pt-3">
                {{ partial "training/locations.html" . }}
              </div>
            </div>
            <div class="pt-4">
              {{ partial "training/summary.html" . }}
            </div>
          </div>
          <div class="pt-4">
            <a class="btn btn-outline-primary" href="{{ .Permalink }}">Workshop Details</a>
          </div>
        </article>
      </div>
      {{ end }}

      {{ template "_internal/pagination.html" . }}
    </div>
  </div>
</section>
