{{ define "bottom-scripts" }}

{{ end }}

{{ define "main" }}

<section class="smev-section smev-section-engagement">
  <div class="pt-5 container">
    <div class="row">
      <div class="col">
        <div class="smev-section__text smev-section-engagement__text">
          <h2 class="mb-3 smev-section__heading smev-section-engagement__heading">Engagement Platforms</h2>
          <p class="mb-4 smev-section__description smev-section-engagement__description">
            We embrace the accessibility and connectivity of the Internet to launch immersive virtual events, unique
            learning experiences and always-on conversations. Discover each of our always-on platforms today.
          </p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <a href="{{ .Site.Params.external.youtube_channel_url }}" class="d-flex pb-5 smev-engagement-platform">
          <div class="pr-4">
            <img
              class="smev-engagement-platform__icon"
              src="{{ .Site.BaseURL }}stream_icon_black.svg"
              alt="Virtual Events"
            />
          </div>
          <div class="smev-engagement-platform__content">
            <h3 class="mb-2">Virtual Events</h3>
            <p class="mb-1 smev-engagement-platform__description">
              Live-streamed and pre-recorded webinars, workshops and walkthroughs.
            </p>
          </div>
        </a>
      </div>

      <div class="col-md-6">
        <a href="{{ .Site.Params.external.discussion_forum_url }}" class="d-flex pb-5 smev-engagement-platform">
          <div class="pr-4">
            <img
              class="smev-engagement-platform__icon"
              src="{{ .Site.BaseURL }}forum_icon_black.svg"
              alt="Discussion Forum"
            />
          </div>
          <div class="smev-engagement-platform__content">
            <h3 class="mb-2">Discussion and Help</h3>
            <p class="mb-1 smev-engagement-platform__description">
              Advanced topics, insightful posts, Ask-Me-Anythings, Q&As and announcements - find it all here.
            </p>
          </div>
        </a>
      </div>

      <div class="col-md-6">
        <a href="{{ .Site.Params.external.discord_chat_invite_url }}" class="d-flex pb-5 smev-engagement-platform">
          <div class="pr-4">
            <img
              class="smev-engagement-platform__icon"
              src="{{ .Site.BaseURL }}chat_icon_black.svg"
              alt="Chat Server"
            />
          </div>
          <div class="smev-engagement-platform__content">
            <h3 class="mb-2">Chat</h3>
            <p class="mb-1 smev-engagement-platform__description">
              Realtime, always-on interaction with community members.
            </p>
          </div>
        </a>
      </div>

      <div class="col-md-6">
        <a href="{{ .Site.Params.external.github_org_url }}" class="d-flex pb-5 smev-engagement-platform">
          <div class="pr-4">
            <img
              class="smev-engagement-platform__icon"
              src="{{ .Site.BaseURL }}code_icon_black.svg"
              alt="Open Source Work"
            />
          </div>
          <div class="smev-engagement-platform__content">
            <h3 class="mb-2">Open Source Work</h3>
            <p class="mb-1 smev-engagement-platform__description">
              We love open-source. Take a look at our current software/hardware projects. You can get involved too!
            </p>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>

<section class="smev-section smev-section-leadership">
  <div class="pt-5 container">
    <div class="row">
      <div class="col">
        <div class="smev-section__text smev-section-leadership__text">
          <h2 class="mb-5 smev-section__heading smev-section-leadership__heading">Leadership Team</h2>
        </div>
      </div>
    </div>

    <div class="row">
      {{ range $.Site.Params.leaders }}
      <div class="col-md-6">
        <div class="d-flex pb-5 smev-leader-profile">
          <div class="pr-4">
            <a href="{{ .info_url }}">
              <img
                class="smev-photo--profile"
                src="{{ .Site.BaseURL }}{{ .profile_picture_filename }}"
                alt="{{ .name }}"
              />
            </a>
          </div>
          <div class="smev-leader-profile__text-container">
            <h3 class="mb-2">{{ .name }}</h3>
            <p class="mb-1 smev-leader-profile__title">{{ .title }}</p>
            <p class="mb-0 smev-leader-profile__company">
              <a href="{{ .company_url }}">{{ .company_name }}</a>
            </p>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>

{{.Content}}

{{ end }}
