// Copyright 2018 SME Virtual Network Contributors. All Rights Reserved.
// See LICENSE in the repository root for license information.
// =============================================================================

// Background Colors
// =================

.bg-yellow {
  background-color: #fdd600;
}

.bg-yellow-dark {
  background-color: #efc100;
}

.bg-blue-light {
  background-color: #5392ff;
}

.bg-blue {
  background-color: #4178be;
}

.bg-indigo {
  background-color: #785ef0;
}

.bg-ultramarine {
  background-color: #3c6df0;
}

.bg-grey-lightest {
  background-color: #eaeaea;
}

.bg-grey-lighter {
  background-color: #c0bfc0;
}

.bg-grey {
  background-color: #666;
}

.bg-black {
  background-color: #000;
}

.bg-red {
  background-color: #e62325;
}
