// Copyright 2018 SME Virtual Network Contributors. All Rights Reserved.
// See LICENSE in the repository root for license information.
// =============================================================================

// Border Colors
// ==============

.border-black {
  border-color: #000;
}

// Border Styles
// =============

.border-solid {
  border-style: solid;
}

// Border Widths
// =============

.border-0 {
  border-width: 0;
}

.border-2 {
  border-width: 2px;
}
