// Copyright 2018 SME Virtual Network Contributors. All Rights Reserved.
// See LICENSE in the repository root for license information.
// =============================================================================

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter_font/Inter-Regular.woff2?v=3.7") format("woff2"),
    url("../fonts/inter_font/Inter-Regular.woff?v=3.7") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter_font/Inter-Bold.woff2?v=3.7") format("woff2"),
    url("../fonts/inter_font/Inter-Bold.woff?v=3.7") format("woff");
}
