<ul>
    {{ if eq ($.Get "islaptopreq") "true" }}
      {{ if eq ($.Get "iswindowslaptopreq") "true" }}
        <li>Bring a laptop computer running Microsoft Windows. Unfortunately, for this workshop, macOS and Linux laptops will not work.</li>
      {{ else }}
        <li>Bring a laptop computer running Microsoft Windows, macOS or Linux.</li>
      {{ end }}
    {{ end }}

    {{ if eq ($.Get "ispythoninstallreq") "true" }}
      <li>Install Python 3.x on your laptop computer. <a href="https://www.anaconda.com/download/">Anaconda Python</a> is <span class="font-medium">highly-recommend</span>. See this <a href="https://youtu.be/fqghaiBrVdw">instructional video</a> if you need help.</li>
    {{ end }}

    {{ if eq ($.Get "isdotnetcoreinstallreq") "true" }}
      <li>Install <a href="https://www.microsoft.com/net/download/">.NET Core 2.1</a> or later on your laptop computer.</li>
    {{ end }}

    {{ if eq ($.Get "isvscodereq") "true" }}
      <li>Install <a href="https://code.visualstudio.com/">Visual Studio Code</a>. Any code editor will work, but Visual Studio Code is a good choice and it will be used during class.</li>
    {{ end }}

    {{ if eq ($.Get "isgcpaccountreq") "true" }}
      <li>Sign-up for a <a href="https://cloud.google.com/">Google Cloud Platform</a> account. You will have to provide a credit card or bank account to verify your identity. However, if you are a new customer, <a href="https://cloud.google.com/free/docs/frequently-asked-questions">you will not be charged anything until your free trial ends</a>.</li>
      <li>Install the <a href="https://cloud.google.com/sdk/">Google Cloud SDK</a> on your laptop.</li>
    {{ end }}

    {{ if eq ($.Get "isdockerinstallreq") "true" }}
      <li>Install <a href="https://store.docker.com/search?type=edition&offering=community">Docker Community Edition (CE)</a> on your laptop computer.</li>
    {{ end }}
</ul>
